@import 'colors';

.right {
  @include position(relative);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  height: 100vh;
  width: 100vw;

}

.login-button {
  @include position(absolute);
  top: 60%;
  left: 50%;
  border: 5px solid #000;
  background-color: transparent;
  box-shadow: 5px 5px 0px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  width: 20%;
  cursor: pointer;

  @include transform(translate3d(-50%,-50%,0));

}

.login {
  @include position(fixed);
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  background: $secondary;
}

// div.login.show
//  form.login-form
//    div
//      div
//        input#username
//        label
//      button.login-button

.login-form {
  div {
    position: relative;
    .right {
      .container {
        width: 50%;
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translate(-50%,-50%);
        label {
          font-size: 22px;
        }
        input {
          border: none;
          background: none;
          border-bottom: 5px solid #000;
          width: 100%;
          font-family: 'VT323', monospace;
          font-size: 20px;
          &:active {
            outline: none;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
