@import 'default';
@import 'colors';

.messages {

  width: 100%;

  li {
    list-style-type: none;

    div {
      font-size: 24px;
    }
  }

  li:nth-child(odd) {
    background-color: $secondary;
    text-align: right;

    &.message-body {
      text-align: right;
    }
  }
}




.message-body {
  display: flex;
  flex-direction: column;

  .time {
    font-size: 10px;
  }
}




form {
  @include position(absolute);
  bottom: 25px;
  width: 100vw;

  padding-right: 3rem;

  textarea {
    font-size: 18px;
    font-family: 'VT323', monospace;
  }

  .message-container {
    vertical-align: bottom;
    width: 70%;
    border: none;
    background: none;
    border-bottom: 5px solid $primary;
    &:focus {
      outline: none;
      border-bottom: 5px solid $secondary;
    }
  }

  .message-button {
    vertical-align: bottom;
    width: 25%;
    height: 40px;
    margin-left: 25px;
    border: 5px solid #000;
    background-color: #fff;
    box-shadow: 5px 5px 0px;
    font-family: 'VT323', monospace;
    font-size: 20px;

    &:active {
      outline: none;
      background-color: $secondary;
    }
  }
}
